@charset "utf-8";

.field {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

@media (max-width: 750px) {
    .field {
        flex-direction: column;
        row-gap: 10px;
    }
}